# Reports and temporary scripts folder
reports/
*.history

# Telegram bot configuration (contains secrets)
telegram_bot.conf

telegram_bot.yaml
__pycache__/
apa.html
firefox_cookies.txt

venv/
venv_windows/
venv_linux/
docker-compose.yml
telegram_bot.yaml*
